 body {
      font-family: 'Bruno Ace SC', cursive;
      font-family: 'Roboto Mono', monospace;
}

    header {
      background-image: url('https://github.com/Meowwen/public-1/blob/main/james-a-molnar-BIDRXOGPMro-unsplash.jpg?raw=true');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      color: white;
      text-align: center;
      padding: 180px;
    }
    .glow {
      font-size: 80px;
      color: #fff;
      text-align: center;
      animation: glow 1s ease-in-out infinite alternate;
    }
    @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
 
 .glow-1 {
      font-size: 30px;
      color: #fff;
      text-align: center;
      text-decoration: underline;
      animation: glow 1s ease-in-out infinite alternate;
    }
    @-webkit-keyframes glow-1 {
      from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }
 
  .dark-mode {
  background-color: #333;
  color: #f0f0f0;
  transition: all 0.4s ease-in;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.13rem;
  margin-bottom: 0.63rem;
  margin-inline: auto;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.4s ease-in;
  border-radius: 2.13rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.63rem;
  width: 1.63rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

(input) is currently active or focused. */
input:focus + .slider {
  box-shadow: 0 0 2px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(1.63rem);
}

h2, h3, h4 {
      font-weight: bold;
      text-align:center;
      text-decoration: underline;
      color: #007a99;
    }
 p { 
    text-indent: 50px;
}
.card-title{
  color: blue;
}
.card-text{
  color: black;
}
.hr {
  margin-bottom: 2.5rem;
}
.ui-component {
  margin-bottom: 5.75rem;
}
   .intro {
      margin: auto;
      max-width: 600px;
      padding:100px;
    }

    form {
      max-width: 265px;
      margin: auto;
      padding: 20px;
      border: 1px solid;
      border-radius: 5px;
    }
.footer {
  text-align: center;
  font-style: italic;
  padding: 1rem;
}
.footer > span {
font-weight: bold;
margin-left: 0.75rem;
}
  
